<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Add a Lift</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="addLift()">

      <div>
        <label>Date</label>

        <input type="text" name="date"
          class="form-control" ng-model="date"/>
      </div>

      <div class="form-group">
        <label>Lift</label>

        <input type="text" name="type"
          class="form-control" ng-model="type"/>
      </div>

      <div class="form-group">
        <label>Rep Scheme</label>

        <input type="text" name="rep_scheme"
          class="form-control" ng-model="repScheme" />
      </div>

      <div class="form-group">
        <label>Load</label>

        <input type="text" name="load"
          class="form-control" ng-model="load" />
      </div>

      <div class="form-group">
        <label>Notes</label>

        <input type="text" name="notes"
          class="form-control" ng-model="notes" />
      </div>

      <button class="btn btn-lg btn-primary" type="submit">Add Lift</button>
    </form>
  </div>
</div>